<li class='attemptpenalty'>
    <div class="input-group">
        <input type='text' name='attemptpenalty[]' value='{{penalty}}' class='form-control' placeholder="Penalty">
        <span class="input-group-addon">%</span>
        <div class='btn removepenalty'>Remove</div>
    </div>

</li>
